{% extends 'core/layout.html' %}
{% block page_title %}
{% if user %}
Edit User Profile
{% else %}
User Information Form
{% endif %}
{% endblock %}

{% block content %}
<form method="post">
{% csrf_token %}
{{ form.username.as_hidden }}  <!-- Add this line -->
{{ form.as_p }}
<input type="submit" value="Submit">
</form>


    {% if form.is_bound and form.is_valid %}
        <div class="jumbotron mt-4">
            <div class="container">
                <h2>Submitted Information:</h2>
                <p>First Name: {{ form.cleaned_data.first_name }}</p>
                <p>Last Name: {{ form.cleaned_data.last_name }}</p>
                <p>City: {{ form.cleaned_data.city }}</p>
                <p>State: {{ form.cleaned_data.state }}</p>
                <p>Zip Code: {{ form.cleaned_data.zip_code }}</p>
                <p>Phone Number: {{ form.cleaned_data.phone_number }}</p>
                <p>Email Address: {{ form.cleaned_data.email }}</p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}





